div {
	height: 300px;
	width: 300px;
	border: 2px solid black;
	border-radius: 5px;
	background-color: #308014;
	/*Agreg치 tu CSS ac치*/
	float:right;
}

p {
	font-family: Verdana, sans-serif;
	font-size: 20px;
	width: 280px;
	/*Agreg치 tu CSS ac치*/
	float:left;
}